<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="post">
      <h3><%=post.username %></h3>
      <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea rows="8" cols="64" name="content">
<%= post.content %></textarea
        ><br />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
